@import url(/src/styles/global.css);
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 60px;
    background-color: var(--color-white1000);
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav > ul > li > a {
    color: var(--color-black600);
    font-size: 16px;
    font-weight: 300;
}
nav > ul > li > a.active {
    color: var(--color-black1000);
    font-weight: 400;
}